@charset "utf-8";

/* Core Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; line-height:100%; font-family:Microsoft YaHei,Arial, sans-serif;}

/* Remember to define focus styles! */
.w1000 {min-width:1000px;margin:0 auto;}
:focus { outline: 0;}
body { width:100%; height:100%; font-size:12px; text-align:center; color:#333; }
.yahei { font-family:Microsoft YaHei;}
ul, ol { list-style:none;}
.fl{float:left;}
.fr{float:right;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.blank15 {height:15px;overflow:hidden; clear:both;}
.blank10 {height:10px;overflow:hidden; clear:both;}
.blank8 {height:8px;overflow:hidden; clear:both;}
.blank4 {height:4px;overflow:hidden; clear:both;}
.hid { overflow:hidden;}
.tl { text-align:left;} 
.tc { text-align:center;}
.tr { text-align:right;}
.block { display:block;}
.inline {_display:inline;}
.bold { font-weight:bold;}
.rel { position:relative;}
/* color */
.gfff,.gfff a,a.gfff {color:#fff;}
.blue,a.blue,.blue a {color:#039;}
.red,a.red,.red a {color:#ff0000;}
.g333,a.g333,.g333 a {color:#333;}
.g666,a.g666,.g666 a {color:#666;}
.g999,a.g999,.g999 a {color:#999;}
.black,.black a,a.black {color:#000;}
.red2,.a.red2,.red2 a,
a.blue:hover,.blue a:hover,
a.red:hover,.red a:hover,
a.g333:hover,.g333 a:hover,
a.g666:hover,.g666 a:hover,
a.g999:hover,.g999 a:hover,
a.black:hover,.black a:hover
{color:#cc0000;}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse:separate; border-spacing:0;}
caption, th, td { font-weight:normal;}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after { content: "";}
blockquote, q { quotes: "" "";}

img { border:none;}
a { color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

.header { position:relative; background:#345889 url(../images/cms_header_bg.jpg) no-repeat 0 0;height:106px;border-bottom:solid 1px #1b3d6c;}
.header h2 { position:absolute;left:15px;top:35px;background:url(../images/logo.png) no-repeat;width:82px; height:60px;}
.header .menu {margin:0 20px 0 170px;max-width:960px;}
.header .menu td { padding-top:14px;}
.header .menu ul li {margin:0 4px; float:left;height:39px; line-height:39px;}
.header .menu ul li a { display:block;width:99px;height:39px; line-height:39px; display:block;}
.header .menu ul li a:hover,.header .menu ul li .dq { background:url(../images/menu_dq.png) no-repeat;}
.header .wel {height:30px; line-height:30px; position:absolute;right:20px;top:0;color:#9eb8d8;}
.header .wel .name {color:#d70c19;}
.tab_bq { background:#e2e9f0 url(../images/icon_d.png) repeat-x 0 bottom;border-top:solid 1px #cdd1d4;height:37px; padding-left:240px;}
#div_pannel{height:800px;}
#div_tab{height:26px;padding:5px 15px 0;left:240px;top:5px;height:32px;}
#div_tab li{float:left;text-align:center;position:relative;list-style:none;margin-right:5px;}
#div_tab li span{border:solid 1px #cdd1d4;border-bottom:none;height:31px; background:url(../images/tab_fdq.png) repeat-x; line-height:31px;border-radius: 2px; display:block; padding:0 30px 0 14px; line-height:31px;}
#div_tab li.crent span {background:url(../images/tab_dq.png) repeat-x;}
#div_tab li .menua{color:#fff;font-size:14px;line-height:31px; text-decoration:none;position:relative;}
#div_tab li .menua:hover {color:#fff;}
#div_tab li.crent .menua,#div_tab li.crent .menua:hover{color:#093365;}
#div_tab li .win_close{width:9px;height:9px;position:absolute;top:12px;right:11px;cursor:pointer;display:block;overflow:hidden;background:url(../images/tab_close_fdq.png) no-repeat;} 
#div_tab .crent .win_close{width:9px;height:9px;position:absolute;top:12px;right:11px;cursor:pointer;display:block;overflow:hidden;background:url(../images/tab_close.png) no-repeat;}   
.clearfix:after {content:"."; display:block;height:0;clear:both; visibility:hidden;} 
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
.clearfix{display:inline-block;} 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
.cms_crumb {border-bottom:solid 1px #eaf0f3; height:24px; line-height:24px; padding-left:15px;}
.left_menu {width:148px;border-left:solid 1px #cbd9e2;border-right:solid 1px #cbd9e2;}
.left_menu h3 {border-bottom:solid 1px #cbd9e2; background:url(../images/left_menu_bg.gif) no-repeat;height:35px; line-height:35px;color:#fff; padding-left:12px;}
.left_menu ul li {border-bottom:solid 1px #cbd9e2;height:31px; line-height:31px;}
.left_menu ul li a {color:#768a99; display:block; padding-left:16px;height:31px; line-height:31px;}
.left_menu ul .dq a,.left_menu ul li a:hover { padding-left:14px;border-left:solid 2px #385e8d; background:#e3ebf1 url(../images/icon_2.gif) no-repeat 129px center; text-decoration:none;}
.right_box {margin:0 10px 0 170px;}
.zixun_search { padding-top:17px;}
.zixun_search p { padding-bottom:10px;}
.zixun_search p label {width:65px; height:25px; line-height:25px; float:left;}
.zixun_search p span {float:left; position:relative;height:25px; line-height:25px;}
.zixun_search p span em { position:absolute;left:7px;top:0; line-height:25px; font-style:normal;}
.zixun_search p .txt { float:left; height:23px;margin-right:10px; line-height:23px;border:solid 1px #eceef2;width:170px; padding:0 5px;}
.zixun_search p .sel { float:left;height:25px;margin-right:10px; padding:2px;	border:solid 1px #eceef2;}
.zixun_search p .x { padding:0 5px 0 0;}
.zixun_search p .t {float:left; height:23px;margin-right:10px; line-height:23px;border:solid 1px #eceef2;width:80px; padding:0 5px;}
.zixun_search p .but {cursor:pointer;width: 68px ;border:none;height: 27px; background: url(../images/sousuo_but.gif) no-repeat;}
.tab_tit { padding:6px 0 0 11px;height:30px; background:#e3ebf1;}
.tab_tit ul li { float:left;width:72px; height:30px;margin-right:5px;}
.tab_tit ul li a {font-size:14px;color:#345889; display:block; background:url(../images/sub_tab.gif) no-repeat 0 bottom; line-height:27px;height:30px;}
.tab_tit ul li a:hover { text-decoration:none;}
.tab_tit ul .cur a {color:#fff; background-position:0 0; line-height:30px;}
.anniu { height:40px; background:#a1b6c5;}
.anniu p { padding:7px 18px 0 0;height:33px;}
.icon { background:url(../images/cms_icon.png) no-repeat;}
.anniu p a {float:left;margin-right:6px;height:29px;cursor:pointer;}
.a {cursor:pointer;}
.anniu p a span {color:#5a6e7d;background:url(../images/cms_icon.png) repeat-x; padding:0 2px; line-height:29px; float:left;height:29px;}
.anniu p a .fl { width:11px;height:29px; background-position:0 -30px; padding:0;}
.anniu p a .fr { width:11px;height:29px; float:right; background-position:right -30px; padding:0;}
.anniu p a b { float:left;}
.b1 { background-position:0 -59px;width:11px;height:11px;margin:9px 4px 0 0;}
.b2 { background-position:0 -71px;width:12px;height:10px;margin:9px 6px 0 1px;}
.b3 { background-position:0 -82px;width:10px;height:10px;margin:9px 8px 0 2px;}
.b4 { background-position:0 -94px;width:10px;height:12px;margin:8px 6px 0 2px;}
.b5 { background-position:0 -107px;width:10px;height:11px;margin:9px 8px 0 0;}
.b6 { background-position:0 -119px;width:11px;height:11px;margin:8px 8px 0 0;}
.b7 { background-position:0 -131px;width:11px;height:12px;margin:8px 8px 0 0;}

.zixun_table_tit th { background:#345889;color:#fff;}
.tree_table {border:solid 1px #eaf0f3;border-right:none;border-bottom:none;}
.tree_table td {border-right:solid 1px #eaf0f3;border-bottom:solid 1px #eaf0f3;}
.tree_table td span {margin-left:20px;float:left; line-height:30px;}
.tree_table td .prev_span {margin:0;}
.tree_table .vsStyle_node,
.tree_table .vsStyle_active_node
{width:18px;height:18px;border: medium none; margin: 0; padding: 0;display: inline-block;margin-left:5px; }
.tree_table .vsStyle_active_node {cursor: pointer;margin-top:7px;}
.tree_table .vsStyle_open,
.tree_table .vsStyle_last_open
{margin-left:20px;background:url(../images/allbgs.png) no-repeat 0px 0px;width:18px;}
.tree_table .vsStyle_shut,
.tree_table .vsStyle_last_shut
{margin-left:20px;background:url(../images/allbgs.png) no-repeat 0 -19px;width:18px;}
.tree_table .vsStyle_hover_open,
.tree_table .vsStyle_hover_last_open
{margin-left:20px;background:url(../images/allbgs.png) no-repeat 0 0px;width:18px;}
.tree_table .vsStyle_hover_shut,
.tree_table .vsStyle_hover_last_shut
{margin-left:20px;background:url(../images/allbgs.png) no-repeat 0 -19px;width:18px;}
#treeTable1,#treeTable1 td,#treeTable1 th { line-height:30px; font-size:12px;color:#333; }
.tree_table .paixu a {color:#093365;}
.tree_table .paixu a:hover {color:#cc0000;}
.check {padding-left:10px; text-align:left;}
.bot_table,.bot_but { background:#e3ebf1;}

.fanye {height:23px;line-height:23px;margin-right:20px;}
.fanye a,.fanye span {margin:0 5px 0 0;color:#333;display:inline-block;text-align: center;border:solid 1px #86a0b3;min-width:21px;padding:0 3px;height:23px;line-height:23px;}
.fanye .cur {border-color:#d80713;text-decoration:none;color:#cc3333;}
.fanye a:hover {border:solid 1px #d80713;text-decoration:none;color:#cc3333;}
.fanye .next { padding:3px 10px; }
.fanye .txt {border:solid 1px #86a0b3;width:35px; height:23px; background:#e3ebf1; line-height:23px;}
.fanye .but { cursor:pointer; background:#f1f4f6;width:44px;height:25px;border:solid 1px #86a0b3; border-radius:2px;}

.add_zixun td {height:41px; line-height:41px;border-bottom:solid 1px #eee;}
.add_zixun .l { vertical-align:top; padding-right:10px;width:140px; background:#f7f7f7;}
.add_zixun .l font {color:#d70c19;}
.add_zixun .r { padding-left:10px;}
.add_zixun .txt {border:solid 1px #ccc;width:170px; padding:0 5px;height:23px; line-height:23px;}
.add_zixun .sel {width:180px; padding:5px 0;}